html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#id{
  background-image:
    linear-gradient(to right, rgba(31, 7, 72, 0.891), rgba(0, 0, 0, 0.369)),
    url("../../public/assets/bg.png");
  background-size: cover;
  position: relative;
}

#tsparticles{
  width: 100%;
  height: 100%;
  position: absolute;
}
#contact{
  background-image:
    linear-gradient(to top, rgba(31, 7, 72, 0.891), rgba(0, 0, 0, 0.369)),
    url("../../public/assets/bgSection\ \(1\).png");
  background-size: cover;
}

#image-users{
  animation: float 7s ease-in-out infinite;
}

@keyframes float{
  0% {
    transform:  translateY(0);
  }
  50%{
    transform: translateY(-25px);
  }
  100%{
    transform: translateY(0);
  }
}
#image-users1{
  animation: float1 6s ease-in-out infinite;
}

@keyframes float1{
  0% {
    transform:  translateY(-30px);
  }
  50%{
    transform: translateY(-45px);
  }
  100%{
    transform: translateY(-30px);
  }
}