html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#id{
  background-image:
    linear-gradient(to right, rgba(31, 7, 72, 0.891), rgba(0, 0, 0, 0.369)),
    url("../../public/assets/bg.png");
  background-size: cover;
  position: relative;
}

#tsparticles{
  width: 100%;
  height: 100%;
  position: absolute;
}